external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransH/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransH/model.vec.tf.data-00000-of-00001
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransE/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransE/model.vec.tf.data-00000-of-00001
external_libraries/open_ke/benchmarks/DBPedia_T2D_SMALL/TransH/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPedia_T2D_SMALL/TransE/embedding.vec.json

venv

.idea

external_libraries/open_ke/benchmarks

concept_finder/datasets/dbpedia_mappings/dbr_dbo_dbr old.txt

concept_finder/datasets/entity_extractor/dataset/*

.DS_Store
__pycache__