external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransH/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransH/model.vec.tf.data-00000-of-00001
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransE/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPEDIA_T2D_BIG/TransE/model.vec.tf.data-00000-of-00001
external_libraries/open_ke/benchmarks/DBPedia_T2D_SMALL/TransH/embedding.vec.json
external_libraries/open_ke/benchmarks/DBPedia_T2D_SMALL/TransE/embedding.vec.json
external_libraries/open_ke/.git/objects/b2/d4af9eb8d884bac2cd09b7374a64a58509faee
external_libraries/open_ke/.git/objects/e5/9f0864234962fcff52d44ac2fb0de9aca3a5dd
external_libraries/open_ke/.git/objects/e5/dc5abeb7000fc35ec8c8b6d131982586bfc68d
external_libraries/open_ke/.git/objects/52/4c1d17817d586bf2e585dc2c812f60e1c11989
external_libraries/open_ke/.git/objects/f6/8b75b794e40692ba8a09ce30aa1584208006da
venv/lib/python3.7/site-packages/grpc/_cython/cygrpc.cpython-37m-darwin.so
venv/lib/python3.7/site-packages/numpy/.dylibs/libopenblasp-r0.3.7.dev.dylib
venv/lib/python3.7/site-packages/h5py/.dylibs/libhdf5.103.dylib
venv/lib/python3.7/site-packages/tensorflow/libtensorflow_framework.1.dylib
venv/lib/python3.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
venv/lib/python3.7/site-packages/tensorflow/contrib/kinesis/_dataset_ops.so
venv/lib/python3.7/site-packages/tensorflow/contrib/fused_conv/python/ops/_fused_conv2d_bias_activation_op.so
venv/lib/python3.7/site-packages/tensorflow/contrib/bigtable/python/ops/_bigtable.so
venv/lib/python3.7/site-packages/tensorflow/libtensorflow_framework.1.14.0.dylib
venv/lib/python3.7/site-packages/tensorflow/libtensorflow_framework.dylib
venv/lib/python3.7/site-packages/scipy/.dylibs/libopenblasp-r0.3.7.dev.dylib
venv
.idea
external_libraries/open_ke/benchmarks

concept_finder/datasets/dbpedia_mappings/dbr_dbo_dbr.txt
concept_finder/datasets/entity_extractor/dataset/*